---
import Puesto from "../components/Puesto.astro";
import Funciones from "../components/Funciones.astro";
---

<section id="experiencia" class="container mx-auto text-center mt-3">
    <h2 class="mt-6 color-principal h-secondary-text">Experiencia Laboral</h2>

    <!-- cargo 1 -->
    <div class="flex flex-col sm:flex-row mt-3 mb-3 ...">
        <Puesto
            cargo="Analista Programador de Sistemas"
            empresa="Fiscalía General Electoral"
            fecha_inicio="2023-08-16"
            fecha_final="2024-12-31"
        />

        <Funciones empresa="fge" />
    </div>

    <!-- cargo 2 -->
    <div class="flex flex-col sm:flex-row ...">
        <Puesto
            cargo="Desarrollador Web"
            empresa="Universidad Tecnológica de Panamá (UTP)"
            fecha_inicio="2020-06-06"
            fecha_final="2023-08-15"
        />
        <Funciones empresa="utp" />
    </div>

    <!-- cargo 3 -->
    <div class="flex flex-col sm:flex-row mt-3 mb-3">
        <Puesto
            cargo="Asistente de Desarrollo Web"
            empresa="Universidad Tecnológica de Panamá (UTP)"
            fecha_inicio="2019-9-16"
            fecha_final="2020-03-1"
        />
        <Funciones empresa="asis" />
    </div>
</section>
