---
import Image from "astro/components/Image.astro";
---

<section class="otherinfo" class="mx-auto mt-3 py-8 text-center">
    <div class="group mt-3 flex justify-center gap-4">
        <a href="mailto:ajdla96@gmail.com">
            <Image
                src="/gmail-logo.svg"
                width="32"
                height="32"
                decoding="async"
                loading="lazy"
                alt="Referencias"
            />
        </a>
        <a href="https://www.linkedin.com/in/angel-de-leon-a1a9b8267/">
            <Image
                src="/linkedin-logo.svg"
                width="32"
                height="32"
                decoding="async"
                loading="lazy"
                alt="Referencias"
            />
        </a>
        <a
            href="https://open.spotify.com/playlist/0122r5ZJt1Qt2jukpqKFgg?si=d5195f3901ea4f23"
        >
            <Image
                src="/spotify-logo.svg"
                width="32"
                height="32"
                decoding="async"
                loading="lazy"
                alt="Referencias"
            />
        </a>
    </div>
</section>
