---
import ImportantTitle from "../components/ImportantTitle.astro";
---

<section class="container h-screen flex flex-col items-center justify-center">
  <ImportantTitle title="Portfolio" />
  <h1
    class="name text-center transition delay-150 duration-300 ease-in-out hover:-translate-y-1"
  >
    Angel De León
  </h1>

  <h3 class="mt-6 text-lg/8 color-principal text-4xl text-center">
    Ingeniero en Sistemas y Computacion
  </h3>
</section>
