---
import ImportantTitle from "../components/ImportantTitle.astro";
---

<section class="h-screen flex flex-col items-end justify-center mx-auto">
  <ImportantTitle title="Portfolio" />
  <h1
    class="text-center text-white transition delay-150 duration-300 ease-in-out hover:-translate-y-1 text-9xl md:text-10xl lg:text-11xl xl:text-12xl"
  >
    Angel De León
  </h1>

  <h3 class="mt-6 text-lg/8 color-principal text-4xl text-center">
    Ingeniero en Sistemas y Computacion
  </h3>
</section>
