---
import background from "../assets/background.svg";
import ImportantTitle from "../components/ImportantTitle.astro";
---

<section id="my-hero" class="mx-auto">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<ImportantTitle title="Sobre Mi" />
	<div id="hero2" class="mx-auto">
		<p class="my-history text-xl color-principal">
			Soy desarrollador web y de aplicaciones con cuatro años de
			experiencia en la creación de sitios web, aplicaciones y
			configuración de servidores web. Tengo un sólido dominio de
			lenguajes de programación como Python, PHP y JavaScript, y
			experiencia trabajando con frameworks como Flask, Vue.js, React.js.
			También he desarrollado bots para WhatsApp utilizando TypeScript y
			JavaScript. Además, poseo conocimientos en la construcción de sitios
			web con CMS populares como WordPress, Joomla y Drupal, así como en
			el desarrollo de aplicaciones móviles con React Native. Mi
			experiencia incluye el despliegue de proyectos mediante Docker, el
			uso de sistemas de control de versiones como Git y el trabajo
			colaborativo en equipos multidisciplinarios, lo que garantiza una
			gestión eficiente y organizada de los proyectos.
		</p>
	</div>
</section>
