---
import Layout from "../layouts/Layout.astro";
import PersonalInfo from "../views/PersonalSection.astro";
import Experiencia from "../views/ExperienciaSection.astro";
import Welcome from "../views/WelcomeSection.astro";
import DatosAcademicos from "../views/DatosAcademicosSection.astro";
import Knowlegde from "../views/KnowlegdeSection.astro";
import Referencias from "../views/ReferenciasSection.astro";
import Intereses from "../views/InteresesSection.astro";
import Valores from "../views/ValoresSection.astro";
import OtherInfo from "../views/OtherInfoSection.astro";
import AnimateOnScroll from "../components/AnimateOnScroll.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="container-xl mx-auto px-4">
		<AnimateOnScroll an="fade-right">
			<PersonalInfo />
		</AnimateOnScroll>
		<hr class="w-1/2 h-0.5 my-8 bg-gray-100/25 border-0 shadow m-auto" />

		<AnimateOnScroll an="slide">
			<Welcome />
		</AnimateOnScroll>
		<hr class="w-1/2 h-0.5 my-8 bg-gray-100/25 border-0 shadow m-auto" />

		<AnimateOnScroll>
			<Experiencia />
		</AnimateOnScroll>
		<hr class="w-1/2 h-0.5 my-8 bg-gray-100/25 border-0 shadow m-auto" />

		<AnimateOnScroll>
			<DatosAcademicos />
		</AnimateOnScroll>
		<hr class="w-1/2 h-0.5 my-8 bg-gray-100/25 border-0 shadow m-auto" />

		<AnimateOnScroll>
			<Knowlegde />
		</AnimateOnScroll>
		<hr class="w-1/2 h-0.5 my-8 bg-gray-100/25 border-0 shadow m-auto" />
		<AnimateOnScroll>
			<Valores />
		</AnimateOnScroll>
		<hr class="w-1/2 h-0.5 my-8 bg-gray-100/25 border-0 shadow m-auto" />

		<AnimateOnScroll>
			<Intereses />
		</AnimateOnScroll>
		<hr class="w-1/2 h-0.5 my-8 bg-gray-100/25 border-0 shadow m-auto" />

		<AnimateOnScroll>
			<Referencias />
		</AnimateOnScroll>
		<hr class="w-1/2 h-0.5 my-8 bg-gray-100/25 border-0 shadow m-auto" />

		<OtherInfo />
	</div>
</Layout>
