---
import ImportantTitle from "./ImportantTitle.astro";
---

<section id="academicos" class="container mx-auto text-center mt-3">
    <ImportantTitle title="Datos Academicos" />
    <div id="hero" class="mx-auto text-center mt-3">
        <div class="academic-log text-center mx-auto">
            <a href="https://utp.ac.pa/">
                <img
                    class="mx-auto logo"
                    src="https://utp.ac.pa/logo_utp.jpg"
                    alt=""
                    width="100"
                    height="100"
                />
            </a>
            <p>Universidad Tecnológica de Panamá</p>
        </div>
        <div class="info-academic mx-auto">
            <p class="my-history text-xl color-principal">
                Lic. en Ingeniería de Sistemas y Computación.
            </p>
            <span> 2014 - 2020 </span>
        </div>
    </div>
</section>
<style>
    .logo {
        border-radius: 50%;
    }
</style>
