---
import ImportantTitle from "./ImportantTitle.astro";
import Nivel from "./Nivel.astro";
const tecnologias: Object = {
  lenguajes: {
    PHP: "2",
    Python: "4",
    JavaScript: "3",
    TypeScript: "2",
    Java: "1",
  },
  herramientas: {
    Apache: "3",
    Nginx: "3",
    Docker: "3",
    GitHub: "3",
    Git: "3",
    PowerApps: "3",
    PowerAutomate: "3",
    "MS Copilot Studio": "3",
    Figma: "3",
    "Bots de WhatsApp": "3",
  },
  cloud: { AWS: "1", "Google Cloud": "2" },
  "bases De Datos": {
    MySQL: "3",
    MariaDB: "3",
    PostgreSQL: "2",
    SQLite: "2",
    Redis: "1",
  },
  frameworks: {
    Flask: "3",
    Django: "2",
    React: "1",
    Astro: "3",
    Vue: "3",
    Angular: "2",
  },
  CRM: { Chatwoot: "3", OsTicket: "3", GLPI: "3" },
  "desarrollo móvil": { Android: "1", ReactNative: "2" },
  CMS: { WordPress: "3", Drupal: "3", Joomla: "2" },
  "ciencia De Datos": { Pandas: "3", NumPy: "2", TensorFlow: "1" },
  "bussiness inteligence": { powerBI: "3", Metabase: "3" },
  ofimatica: { Excel: "3", Word: "3", PowerPoint: "3" },
};
---

<section id="tecnologias" class="container">
  <ImportantTitle title="Conocimientos y Tecnologías" />
  <div class="text-center mx-auto mb-4">
    <span>Niveles:</span>
    <span>1. Principiante</span>
    <span>2. Intermedio</span>
    <span>3. Avanzado</span>
    <span>4. Experto</span>
  </div>

  <div class="flex flex-wrap gap-2 justify-center">
    {
      Object.entries(tecnologias).map(([categoria, tecnologias]) => (
        <div key={categoria} class="w-full text-center mt-4">
          <h2 class="text-xl">
            {categoria.charAt(0).toUpperCase() + categoria.slice(1)}
          </h2>
          <div class="flex flex-wrap gap-2 justify-center mt-2">
            {Object.entries(tecnologias).map(([tecnologia, nivel]) => (
              <Nivel tecnologia={tecnologia} nivel={nivel} />
            ))}
          </div>
        </div>
      ))
    }
  </div>
</section>
