---
import Card from "./Card.astro";
import Terminal from "./Terminal.astro";
import Funciones from "./Funciones.astro";
---

<section class="h-screen flex flex-col items-center justify-center">
  <h2
    class="mt-6 text-lg/8 color-principal text-2xl text-center h-secondary-text"
  >
    Portfolio
  </h2>

  <h1
    class="name text-center transition delay-150 duration-300 ease-in-out hover:-translate-y-1"
  >
    Angel De León
  </h1>

  <h3
    class="mt-6 text-lg/8 color-principal text-2xl text-center h3-secondary-text"
  >
    Ingeniero en Sistemas y Computacion
  </h3>
</section>

<style>
  .name {
    cursor: pointer;
    font-size: 200px;
    color: rgb(255, 255, 255, 0.9);
  }
</style>
