---
const { text } = Astro.props;
---

<!-- Nivel -->
<div
    class="w-[23.5%] rounded-xl shadow px-3 py-3 bg-white-900 dark:bg-white dark:text-white"
>
    <span class="ml-1 font-bold text-black">{text}</span>
</div>
